<% content_for :summary do %>
  How I use a newsletter as a calmer way to communicate
<% end %>

<p>
    Hi, I’m Philip - the maker of Postcard! Today I want to share with you how I use Postcard for my own personal website and newsletter at <a href="https://philipithomas.postcard.page">philipithomas.postcard.page</a>.
</p>

<p>
    On the first day of every month, I publish a post titled “What I’m up to this month.” In it, I have three simple sections:
</p>

<ul>
    <li>✨ <strong>Highlights from last month</strong></li>
    <li>🙌 <strong>Things to share</strong></li>
    <li>📫 <strong>What I’m up to this month</strong></li>
</ul>

<p>
  (Check out a recent example <a href="https://philipithomas.postcard.page/posts/what-i-m-up-to-december-2022">here</a>)
</p>

<p>
    I keep the newsletter simple with bullet points in each section. I start a new draft in Postcard as soon as I publish the last update, and I add to it throughout the month as I have thoughts to share.
</p>

<p>
  At the beginning of every month, I publish the post to my mailing list and share the post on Twitter and LinkedIn.
</p>

<p>
  This newsletter has been a calmer way for me to communicate. I don’t measure its success in terms of “likes.” Instead, I feel fulfillment from the thoughtful replies people send to it, and from people who mention the updates in conversation.
</p>

<p>
  Because I keep the latest update pinned to the homepage of my Postcard, I find that when I’m meeting somebody for the first time on a call - they’ve often read my website and most recent update just before we chat. So, the post serves as an icebreaker, and lets us go beyond small talk quicker.
</p>

<p>
  I hope this gives you some inspiration for how you can use Postcard for your own personal website and newsletter. If you have any questions, please respond to this email!
</p>

<% content_for :button_label do %>Write a post<% end %>

<% content_for :button_link do %><%= page_posts_url(@account) %><% end %>
