<header class="z-20 py-10 bg-white">
  <div class="dashboard-container">
    <nav class="relative z-50 flex items-center justify-between w-full bg-white">
      <div class="flex items-center gap-x-4 md:gap-x-6">
        <a href="/" aria-label="Home">
          <img class="h-7 w-auto inline-block" src="<%= asset_path("logo/wordmark.svg") %>" alt="Postcard" width="122" h="28">
        </a>
        <a
          href="https://github.com/contraptionco/postcard"
          class="inline-flex items-center"
          target="_blank"
          rel="noopener"
        >
          <img
            class="h-6 w-auto"
            src="https://img.shields.io/github/stars/contraptionco/postcard?style=social"
            alt="GitHub stars for Postcard"
          >
        </a>
      </div>
      <div class="flex items-center gap-x-4 md:gap-x-6">
        <a
          href="<%= new_session_path('account') %>"
          class="inline-block rounded-lg py-1 px-2 text-sm text-gray-700 hover:bg-gray-050 text-gray-950"
          >
          Sign in
        </a>
        <a
          href="<%= new_registration_path('account') %>"
          class="inline-flex btn btn-primary"
          >
          <span class="md:hidden">
            Sign up
          </span>
          <span class="hidden md:inline">
            Get started
          </span>
        </a>
      </div>
    </nav>
  </div>
</header>
